
body{background-image: url("../images/car.jpg");
    background-repeat:;
    background-size: cover;


}



#chessboard{
    margin: 0 auto;
    width: 800px;
    height: 800px;
    border: solid red 1px;
    opacity: .8;

}


.blackbox{
    width: 100px;
    height: 100px;
    float: left;
    background-color: black;
    border-radius: 0;
}


.whitebox{
    width: 100px;
    height: 100px;
    float: left;
    background-color: white;
    border-radius: 0;
}

}